.ms_container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

#ms_mapContainer {
    padding: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.ms_stadiumCardsContainer {
    width: 40%;
    height: 100%;
    padding-bottom: 10px;
}

.ms_map {
    width: 100%;
    flex: 1;
}

.ms_infoWindowPhoto {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 8px;
}

.ms_infoWindow {
    max-width: 250px;
}

@media (max-width: 768px) {
    .ms_container {
        flex-direction: column;
    }

    #ms_mapContainer {
        width: 100%;
        height: 55vh;
    }

    .ms_stadiumCardsContainer {
        width: 100%;
        height: 45vh;
        padding-bottom: 10px;
        overflow-y: auto;
    }
}

@media (max-width: 600px) {
    #ms_mapContainer {
        height: 50vh;
        padding: 5px;
    }

    .ms_stadiumCardsContainer {
        height: 50vh;
        padding-bottom: 10px;
    }
}